/* ---------------------------------- */
*,
*:before,
*:after {
	position: relative;
	box-sizing: border-box;
	transition: all 0.3s cubic-bezier(0.5, 0, 0.5, 1);
}
body,
html {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}
body {
	background: #c9d2de;
	display: flex;
	justify-content: center;
	align-items: center;
}
/* ---------------------------------- */
#app {
	height: 100vh;
	width: 100%;
	transform: scale(0.8);
	border-radius: 2rem;
	background-color: #bec9d6;
	box-shadow: 0px 2vh 10vh rgba(0, 0, 0, 0.3);
	overflow: hidden;
	border: 1vh solid #f0f0f0;
}
.ui-nav {
	overflow: hidden;
	position: absolute;
	bottom: 1rem;
	left: 1rem;
	right: 1rem;
	height: 10vh;
	display: flex;
	align-items: stretch;
	text-align: center;
	border-radius: 0.75rem 0.75rem 1.25rem 1.25rem;
	z-index: 3;
}
.ui-bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.ui-bg .ui-dot {
	width: 9vh;
	height: 9vh;
	border-radius: 50%;
	background: #f0f0f0;
	border-top: solid 2px #fff;
	position: absolute;
	left: calc((33.3333% - 9vh) / 2);
	top: 0%;
	z-index: 2;
	transform: scale(0.85);
	box-shadow: 0px 0.5vh 1vh rgba(0, 0, 0, 0.3);
}
.ui-bg > .ui-cutout {
	width: 9vh;
	height: 9vh;
	left: calc((33.3333% - 9vh) / 2);
	z-index: 3;
	border-radius: 50%;
	box-shadow: 4.5vh 4.5vh 0 #f0f0f0, -4.5vh 4.5vh 0 #f0f0f0, 0 9vh 0 #f0f0f0;
}
.ui-bg > .ui-cutout:before,
.ui-bg > .ui-cutout:after {
	content: '';
	position: absolute;
	width: 400%;
	height: 130%;
	background-color: #fff;
	top: 30%;
	background: #f0f0f0;
	border-top: solid 2px #fff;
}
.ui-bg > .ui-cutout:before {
	right: 100%;
	border-top-right-radius: 1vh;
}
.ui-bg > .ui-cutout:after {
	left: 100%;
	border-top-left-radius: 1vh;
}
.ui-label {
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	z-index: 2;
	top: 20%;
	font-size: 3.6vh;
}
.ui-label svg {
	width: 1em;
	height: 1em;
	fill: #06080a;
	transition-duration: 0.2s;
	transition-timing-function: linear;
}
/* ---------------------------------- */
.ui-pages {
	display: flex;
	width: 100%;
	height: 100%;
}
.ui-page {
	width: 100%;
	margin-right: -100%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	font-family: monospace;
	text-shadow: 0 1px 0px rgba(0, 0, 0, 0.3);
}
[data-page='1'] {
	background-color: #76b471;
}
[data-page='2'] {
	background-color: #bec9d6;
}
[data-page='3'] {
	background-color: #586b7d;
}
/* ---------------------------------- */
input[name='choice'] {
	position: absolute;
	top: 0;
	opacity: 0;
}
#nav-1:checked ~ * label[for='nav-1'],
#nav-2:checked ~ * label[for='nav-2'],
#nav-3:checked ~ * label[for='nav-3'] {
	transform: translateY(-20%);
}
#nav-1:checked ~ * label[for='nav-1'] svg,
#nav-2:checked ~ * label[for='nav-2'] svg,
#nav-3:checked ~ * label[for='nav-3'] svg {
	fill: #76b371;
}
[data-page] {
	opacity: 0;
	transform: translateX(-100%);
}
#nav-1:checked ~ * [data-page='1'],
#nav-2:checked ~ * [data-page='2'],
#nav-3:checked ~ * [data-page='3'] {
	opacity: 1;
	transform: translateX(0%);
}
#nav-1:checked ~ * [data-page='1'] ~ [data-page],
#nav-2:checked ~ * [data-page='2'] ~ [data-page],
#nav-3:checked ~ * [data-page='3'] ~ [data-page] {
	transform: translateX(100%);
}
/* ---------------------------------- */
.ui-bg {
	transform: translateX(calc(var(--x) * 33.3333%));
}
#nav-1:checked ~ #app {
	--x: 0;
}
#nav-2:checked ~ #app {
	--x: 1;
}
#nav-3:checked ~ #app {
	--x: 2;
}
/* ---------------------------------- */
