<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<link rel='stylesheet' href='/stylesheets/dashboards.css' />
<h1>PUBLIC DISTRIBUTION SYSTEM</h1>
<div class="form-modal">

    <div class="form-togglee">
        <button id="man-toggle" onclick="toggleMan()">AGENCY PAGE</button>
       
    </div>

    <div id="man-form">
        <form>
            
            <input type="text" id="ag_privtid" placeholder="Enter private id" />
            
            <button type="button" onclick="addVehicleAsManufacturer(event)" class="btn login">Login</button>
            
        </form>

    </div>

    
<script>
    function toggleDep() {
        document.getElementById("man-toggle").style.backgroundColor = "#fff";
        document.getElementById("man-toggle").style.color = "#222";
        document.getElementById("dep-toggle").style.backgroundColor = "#33cc99";
        document.getElementById("dep-toggle").style.color = "#fff";
        document.getElementById("man-form").style.display = "none";
        document.getElementById("dep-form").style.display = "block";
    }

</script>
<script src='/javascripts/main.js'></script>