<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<link rel='stylesheet' href='/stylesheets/dashboards.css' />
<h1>Automobile Database</h1>
<div class="form-modal">

    <div class="form-toggle">
        <button id="man-toggle" onclick="toggleMan()">Manufacturer</button>
        <button id="dep-toggle" onclick="toggleDep()">Vehicle Department</button>
    </div>

    <div id="man-form">
        <form>
            <input type="text" id="manPrivKey" placeholder="Enter private key" />
            <table>
                        <tr>
                            <td><input id="VinNumbMan" type="text" placeholder="Enter Vin Number"/></td>
                            <td><input id="EngNumb" type="text" placeholder="Enter Engine Number"/></td>
                        </tr>
                        <tr>
                            <td><input id="m&m" type="text" placeholder="Make & Model"/></td>
                            <td><input id="dom" type="text" onfocus="(this.type='date')" placeholder="Date of Manufacture"/></td>
                        </tr>
            </table>
            <button type="button" onclick="addVehicleAsManufacturer(event)" class="btn login">Add New Vehicle</button>
            
        </form>

    </div>

    <div id="dep-form">
        <form>
            <input id="regPrivKey"type="email" placeholder="Enter private key" />
            <table>
                        <tr>
                            <td><input id="VinNumb" type="text" placeholder="Enter Vin Number"/></td>
                            <td><input id="OwnName" type="text" placeholder="Owner Name"/></td>
                        </tr>
                        <tr>
                            <td><input id="address" type="text" placeholder="Address"/></td>
                            <td><input id="dor" type="text" onfocus="(this.type='date')" placeholder="Date of Registration"/></td>
                        </tr>
                        <tr>
                            <td><input id="manName" list="companies" type="text" placeholder="Manufacturer Name"/></label>
                        <datalist id="companies">
                        <option value="Ford">
                        <option value="Maruthi">
                        <option value="Volkawagen">
                        <option value="Chevorlet">
                        </datalist></td>
                            <td><input id="numPlate" type="text" placeholder="Number Plate"/></td>
                        </tr>
                    </table>
            <button type="button" onclick="addVehicleAsRegister(event)" class="btn signup">Register Vehicle</button>
            
        </form>
    </div> 
   
    <a class="nav-link" id="list" href="/listVehicles"><h3>List Vehicle Details</h3> </a>

</div>


<script>
    function toggleDep() {
        document.getElementById("man-toggle").style.backgroundColor = "#fff";
        document.getElementById("man-toggle").style.color = "#222";
        document.getElementById("dep-toggle").style.backgroundColor = "#33cc99";
        document.getElementById("dep-toggle").style.color = "#fff";
        document.getElementById("man-form").style.display = "none";
        document.getElementById("dep-form").style.display = "block";
    }

    function toggleMan() {
        document.getElementById("man-toggle").style.backgroundColor = "#33cc99";
        document.getElementById("man-toggle").style.color = "#fff";
        document.getElementById("dep-toggle").style.backgroundColor = "#fff";
        document.getElementById("dep-toggle").style.color = "#222";
        document.getElementById("dep-form").style.display = "none";
        document.getElementById("man-form").style.display = "block";
    }

</script>
<script src='/javascripts/main.js'></script>