<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<link rel='stylesheet' href='/stylesheets/dashboards.css' />
<h1>Automobile Database</h1>
<div class="form-modal">

    <div class="form-1toggle">
        <button id="man-1toggle" onclick="toggleMan()">VEHICLE DETAIL </button>
      
    </div>

    <div id="man-form">
        <form>
           
            <table>
                       <div class="modal-body">
                   <div class="container-fluid">
                       Name : <p id="name"></p>
                       Email : <p id="email"></p>
                       Over_speed 1 : <p id="over_speed1"> </p> location : <p id="over_speed1"></p>
                       Over_speed 2 : <p id="over_speed2"> </p> location : <p id="over_speed2"></p>
                     
                       <input type="text" id="amount" placeholder="Enter amount" />
                       <input type="text" id="manPrivKey" placeholder="Enter private key" />
                     
                    
                   </div>
               </div>
            </table>
            <button type="button" onclick="addVehicleAsManufacturer(event)" class="btn login">Success</button>
            
        </form>

    </div>

    
   
    <a class="nav-link" id="list" href="/listVehicles"><h3>List Vehicle Details</h3> </a>

</div>


<script>
  

    function toggleMan() {
        document.getElementById("man-toggle").style.backgroundColor = "#33cc99";
        document.getElementById("man-toggle").style.color = "#fff";
        document.getElementById("dep-toggle").style.backgroundColor = "#fff";
        document.getElementById("dep-toggle").style.color = "#222";
        document.getElementById("dep-form").style.display = "none";
        document.getElementById("man-form").style.display = "block";
    }

</script>
<script src='/javascripts/main.js'></script>