<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js">
</script>
<link rel='stylesheet' href='/stylesheets/main.css' />
<link rel='login' href='../public/stylesheets/login.css' />
<h1>PUBLIC DISTRIBUTION SYSTEM</h1>
	<body>
		<input type="radio" name="choice" id="nav-1" checked />
			<div class="ui-pages">
				<list class="ui-page" data-page="1">
                    
                   <div class="log-form">
  <h2>Login to your account</h2>
  <form>
    <input type="text" input id="username" title="username" placeholder="username" /><br/><br/>
   

	<button type="button" onclick="login(event)" class="btn signup">Login</button>
  </form>
	</body>

