<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<link rel='stylesheet' href='/stylesheets/dashboards.css' />
<h1>Automobile Database</h1>
<div class="form-modal">

    <div class="form-1toggle">
        <button id="man-1toggle" onclick="toggleMan()">Speed</button>
      
    </div>

    <div id="man-form">
        <form>
            <input type="text" id="manPrivKey" placeholder="Enter private key" />
            <td><input id="VinNumb" type="text" placeholder="Enter Vin Number"/></td>
            <table>
                        <tr>
                            <td><input id="vehicleNumber" type="text" placeholder="Vehicle Number"/></td>
                            
                            <td><input id="overSpeed" type="text" placeholder="over spped"/></td>
                        </tr>
                        <tr>
                            <td><input id="location" type="text" placeholder="location"/></td>
                            <td><input id="date" type="text" placeholder="date&time"/></td>
                        </tr>
            </table>
            <button type="button" onclick="speed(event)" class="btn login">Vehicle start</button>
            
        </form>

    </div>

    
   
    <a class="nav-link" id="list" href="/listVehicles"><h3>List Vehicle Details</h3> </a>

</div>


<script>
  

    function toggleMan() {
        document.getElementById("man-toggle").style.backgroundColor = "#33cc99";
        document.getElementById("man-toggle").style.color = "#fff";
        document.getElementById("dep-toggle").style.backgroundColor = "#fff";
        document.getElementById("dep-toggle").style.color = "#222";
        document.getElementById("dep-form").style.display = "none";
        document.getElementById("man-form").style.display = "block";
    }

</script>
<script src='/javascripts/main.js'></script>