<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<link rel='stylesheet' href='/stylesheets/dashboards.css' />
<h1>Vehicle Details</h1>

<a class="nav-link" id="home" href="/homePage">Home </a>

<br><br>

    <table id="vehicleDetails">
      <tr>
        <th>Vin Number</th>
        <th>Engine Number</th>
        <th>Model</th>
        <th>Date of Manufacture</th>
        <th>Status</th>
        <th>Owner</th>
        <th>Address</th>
        <th>Date of Registration</th>
        <th>Number Plate</th>
        <th>Over Speed 1</th>
        <th>location1</th>
        <th>Over Speed 2</th>
        <th>location2</th>
        <th>view</th>
        
        
      </tr>
      {{#listings}}
      <tr class="">
        <td>{{vinNum}}</td>
        <td>{{engineNo}}</td>
        <td>{{model}}</td>
        <td>{{dom}}</td>
        <td>{{status}}</td>
        <td>{{owner}}</td>
        <td>{{address}}</td>
        <td>{{dor}}</td>
        <td>{{numberPlate}}</td>
         <td>{{overspeed1}}</td>
          <td>{{location1}}</td>
           <td>{{overspeed2}}</td>
           <td>{{location2}}</td>
       
           <td><a class="nav-link" id="detail" href="/detail">View </a></td>
      </tr>
      {{/listings}}
    </table>